USE [TN_TTTN]
GO
/****** Object:  StoredProcedure [dbo].[SP_XOASV_TAIKHOAN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_XOASV_TAIKHOAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAGV_TAIKHOAN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_XOAGV_TAIKHOAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_XOA_BODE]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMSV_TAIKHOANMD]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEMSV_TAIKHOANMD]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMGV_TAIKHOANMD]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEMGV_TAIKHOANMD]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_EXCEL]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEM_EXCEL]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_DANGKY_CHECK_SCT]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEM_DANGKY_CHECK_SCT]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE3]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEM_BODE3]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE2]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEM_BODE2]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE_EXCEL]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEM_BODE_EXCEL]
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_THEM_BODE]
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_SUA_LOPMONHOC]
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_DANGKY_CHECK_SCT]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_SUA_DANGKY_CHECK_SCT]
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_SUA_BODE]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSKYTEN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_REPORT_DSKYTEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEM]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_REPORT_BANGDIEM]
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_LOGIN]
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_DANGKY]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_HUY_DANGKY]
GO
/****** Object:  StoredProcedure [dbo].[SP_GHI_DIEM_CTBT]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_GHI_DIEM_CTBT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LICHSUTHI]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_GET_LICHSUTHI]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI2]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_GET_CAUHOITHI2]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI_LICHSU2]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_GET_CAUHOITHI_LICHSU2]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI_LICHSU]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_GET_CAUHOITHI_LICHSU]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_GET_CAUHOITHI]
GO
/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU_SV]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_DOIMATKHAU_SV]
GO
/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU_GV]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_DOIMATKHAU_GV]
GO
/****** Object:  StoredProcedure [dbo].[SP_DB_DS_BACKUP]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_DB_DS_BACKUP]
GO
/****** Object:  StoredProcedure [dbo].[SP_DB_BACKUP]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_DB_BACKUP]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY_LOPMH_SV]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_DANGKY_LOPMH_SV]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_SINHVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_SINHVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_MONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_MONHOC]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LOPMONHOC_TRUOC_SUA]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_LOPMONHOC_TRUOC_SUA]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_LOPMONHOC]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_KHOA]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_KHOA]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_GIAOVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_GIAOVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGKY_TRUOC_SUA]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_DANGKY_TRUOC_SUA]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGKY_LOPMH_SV]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_DANGKY_LOPMH_SV]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGKY_HUY]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_DANGKY_HUY]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CHECK_BODE]
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCEL_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[SP_CANCEL_LOPMONHOC]
GO
/****** Object:  StoredProcedure [dbo].[CursorBoDeExcel]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP PROCEDURE [dbo].[CursorBoDeExcel]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [CK_LOPMONHOC_TRINHDODK]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [CK_LOPMONHOC_TRANGTHAI]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [CK_LOPMONHOC_THOIGIANTHI]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [CK_LOPMONHOC_SOSVTT]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [CK_LOPMONHOC_SCT]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [CK_LOPMONHOC_NHOM]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [CK_LOPMONHOC_HOCKY]
GO
ALTER TABLE [dbo].[DANGKY] DROP CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[CTBT] DROP CONSTRAINT [CK_CTBT_STT]
GO
ALTER TABLE [dbo].[BODE] DROP CONSTRAINT [CK_TRINHDO]
GO
ALTER TABLE [dbo].[TAIKHOAN] DROP CONSTRAINT [FK_TAIKHOAN_NHOMQUYEN]
GO
ALTER TABLE [dbo].[SINHVIEN] DROP CONSTRAINT [FK_SINHVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[LUACHON] DROP CONSTRAINT [FK_LUACHON_BODE]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [FK_LOPMONHOC_MONHOC]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [FK_LOPMONHOC_KHOA]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [FK_LOPMONHOC_GIAOVIEN1]
GO
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [FK_LOPMONHOC_GIAOVIEN]
GO
ALTER TABLE [dbo].[GIAOVIEN] DROP CONSTRAINT [FK_GIAOVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[GIAOVIEN] DROP CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[DANGKY] DROP CONSTRAINT [FK_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY] DROP CONSTRAINT [FK_DANGKY_LOPMONHOC]
GO
ALTER TABLE [dbo].[CTBT] DROP CONSTRAINT [FK_CTBT_DANGKY]
GO
ALTER TABLE [dbo].[CTBT] DROP CONSTRAINT [FK_CTBT_BODE]
GO
ALTER TABLE [dbo].[BODE] DROP CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[BODE] DROP CONSTRAINT [FK_BODE_LOAICAUHOI]
GO
ALTER TABLE [dbo].[BODE] DROP CONSTRAINT [FK_BODE_GIAOVIEN]
GO
ALTER TABLE [dbo].[DANGKY] DROP CONSTRAINT [DF_DANGKY_DIEM]
GO
/****** Object:  Index [UK_NHOMQUYEN]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[NHOMQUYEN] DROP CONSTRAINT [UK_NHOMQUYEN]
GO
/****** Object:  Index [UK_MONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[MONHOC] DROP CONSTRAINT [UK_MONHOC]
GO
/****** Object:  Index [IX_LUACHON]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[LUACHON] DROP CONSTRAINT [IX_LUACHON]
GO
/****** Object:  Index [UK_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[LOPMONHOC] DROP CONSTRAINT [UK_LOPMONHOC]
GO
/****** Object:  Index [UK_LOAICAUHOI]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[LOAICAUHOI] DROP CONSTRAINT [UK_LOAICAUHOI]
GO
/****** Object:  Index [UK_KHOA]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[KHOA] DROP CONSTRAINT [UK_KHOA]
GO
/****** Object:  Index [UK_SDT]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[GIAOVIEN] DROP CONSTRAINT [UK_SDT]
GO
/****** Object:  Index [UK_DANGKY]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[DANGKY] DROP CONSTRAINT [UK_DANGKY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[TAIKHOAN]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[SINHVIEN]
GO
/****** Object:  Table [dbo].[NHOMQUYEN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[NHOMQUYEN]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[MONHOC]
GO
/****** Object:  Table [dbo].[LUACHON]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[LUACHON]
GO
/****** Object:  Table [dbo].[LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[LOPMONHOC]
GO
/****** Object:  Table [dbo].[LOAICAUHOI]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[LOAICAUHOI]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[KHOA]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[GIAOVIEN]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[DANGKY]
GO
/****** Object:  Table [dbo].[CTBT]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[CTBT]
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TABLE [dbo].[BODE]
GO
/****** Object:  UserDefinedFunction [dbo].[Num2Text]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP FUNCTION [dbo].[Num2Text]
GO
/****** Object:  UserDefinedTableType [dbo].[LuaChonType]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TYPE [dbo].[LuaChonType]
GO
/****** Object:  UserDefinedTableType [dbo].[CTBTType]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TYPE [dbo].[CTBTType]
GO
/****** Object:  UserDefinedTableType [dbo].[CauHoiType]    Script Date: 19/10/2021 8:27:54 PM ******/
DROP TYPE [dbo].[CauHoiType]
GO
/****** Object:  UserDefinedTableType [dbo].[CauHoiType]    Script Date: 19/10/2021 8:27:54 PM ******/
CREATE TYPE [dbo].[CauHoiType] AS TABLE(
	[IDX] [int] NULL,
	[TRINHDO] [nchar](1) NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[DAP_AN] [nvarchar](30) NOT NULL,
	[MALOAICH] [nchar](15) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[CTBTType]    Script Date: 19/10/2021 8:27:54 PM ******/
CREATE TYPE [dbo].[CTBTType] AS TABLE(
	[IDCAUHOI] [int] NULL,
	[STT] [int] NULL,
	[LUACHONSV] [nvarchar](30) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[LuaChonType]    Script Date: 19/10/2021 8:27:54 PM ******/
CREATE TYPE [dbo].[LuaChonType] AS TABLE(
	[IDX] [int] NULL,
	[STT] [nchar](1) NULL,
	[NOIDUNG] [nvarchar](200) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[Num2Text]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Num2Text](@Number float)
RETURNS nvarchar(4000) AS 
BEGIN
	DECLARE @sNumber nvarchar(4000)
	DECLARE @Return	nvarchar(4000)
	DECLARE @mLen int
	DECLARE @i int

	DECLARE @mDigit char(1)
	DECLARE @mTemp nvarchar(4000)
	DECLARE @mNumText nvarchar(4000)

	SELECT @sNumber=LTRIM(cast(@Number as nvarchar))
	SELECT @mLen = Len(@sNumber)

	if @mLen =2
		BEGIN
			SELECT @Return = N'Mười'
			RETURN @Return
		END
	SELECT @i=1
	SELECT @mTemp=''

	WHILE @i <= @mLen
		BEGIN

		SELECT @mDigit=SUBSTRING(@sNumber, @i, 1)

		IF @mDigit='0' SELECT @mNumText=N'không'
		ELSE
			BEGIN
			IF @mDigit='1' SELECT @mNumText=N'một'
			ELSE
			IF @mDigit='2' SELECT @mNumText=N'hai'
			ELSE
			IF @mDigit='3' SELECT @mNumText=N'ba'
			ELSE
			IF @mDigit='4' SELECT @mNumText=N'bốn'
			ELSE
			IF @mDigit='5' SELECT @mNumText=N'năm'
			ELSE
			IF @mDigit='6' SELECT @mNumText=N'sáu'
			ELSE
			IF @mDigit='7' SELECT @mNumText=N'bảy'
			ELSE
			IF @mDigit='8' SELECT @mNumText=N'tám'
			ELSE
			IF @mDigit='9' SELECT @mNumText=N'chín'
			ELSE 
			IF @mDigit='.' SELECT @mNumText=N'phẩy'
			END

		SELECT @mTemp = @mTemp + ' ' + @mNumText

		IF (@mLen = @i) BREAK
		
		IF @i =3
			SELECT @mTemp = @mTemp + N' mươi'
		SELECT @i=@i+1
		END


	SELECT @mTemp = Replace(@mTemp, N'không mươi ', N'không ')

	SELECT @mTemp = Replace(@mTemp, N'một mươi', N'mười')

	SELECT @mTemp = Replace(@mTemp, N'mươi năm', N'mươi lăm')

	--'Fix trường hợp x1, x>=2

	SELECT @mTemp = Replace(@mTemp, N'mươi một', N'mươi mốt')

	--'Fix trường hợp x15

	SELECT @mTemp = Replace(@mTemp, N'mười năm', N'mười lăm')

	--'Bỏ ký tự space

	SELECT @mTemp = LTrim(@mTemp)

	--'Ucase ký tự đầu tiên

	SELECT @Return=UPPER(Left(@mTemp, 1)) + SUBSTRING(@mTemp,2, 4000)

	RETURN @Return
END
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[IDCAUHOI] [int] IDENTITY(1,1) NOT NULL,
	[TRINHDO] [nchar](1) NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[DAP_AN] [nvarchar](30) NOT NULL,
	[MAMH] [nchar](15) NOT NULL,
	[MALOAICH] [nchar](15) NOT NULL,
	[MAGV] [nchar](15) NOT NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[IDCAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTBT]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBT](
	[IDDK] [int] NOT NULL,
	[IDCAUHOI] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[LUACHONSV] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_CTBT] PRIMARY KEY CLUSTERED 
(
	[IDDK] ASC,
	[IDCAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[IDDK] [int] IDENTITY(1,1) NOT NULL,
	[IDLMH] [int] NOT NULL,
	[MASV] [nchar](15) NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[IDDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nchar](15) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [nchar](12) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
	[MAKH] [nchar](15) NOT NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](15) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICAUHOI]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICAUHOI](
	[MALOAICH] [nchar](15) NOT NULL,
	[TENLOAICH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAICAUHOI] PRIMARY KEY CLUSTERED 
(
	[MALOAICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPMONHOC](
	[IDLMH] [int] IDENTITY(1,1) NOT NULL,
	[NIENKHOA] [nvarchar](10) NOT NULL,
	[HOCKY] [smallint] NOT NULL,
	[NHOM] [smallint] NOT NULL,
	[SOSVTT] [int] NOT NULL,
	[MAKH] [nchar](15) NOT NULL,
	[MAMH] [nchar](15) NOT NULL,
	[MAGV] [nchar](15) NOT NULL,
	[MAGVDK] [nchar](15) NULL,
	[TRINHDODK] [nchar](1) NULL,
	[NGAYTHI] [datetime] NULL,
	[SCT] [int] NULL,
	[THOIGIANTHI] [int] NULL,
	[TRANGTHAI] [smallint] NOT NULL,
 CONSTRAINT [PK_LOPMONHOC] PRIMARY KEY CLUSTERED 
(
	[IDLMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUACHON]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUACHON](
	[IDLUACHON] [int] IDENTITY(1,1) NOT NULL,
	[STT] [nchar](1) NOT NULL,
	[NOIDUNG] [nvarchar](200) NOT NULL,
	[IDCAUHOI] [int] NOT NULL,
 CONSTRAINT [PK_LUACHON] PRIMARY KEY CLUSTERED 
(
	[IDLUACHON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](15) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMQUYEN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMQUYEN](
	[MANQ] [nchar](15) NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHOMQUYEN] PRIMARY KEY CLUSTERED 
(
	[MANQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](15) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[EMAIL] [nchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[MANQ] [nchar](15) NOT NULL,
	[REFRESH_TOKEN] [nvarchar](max) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BODE] ON 

INSERT [dbo].[BODE] ([IDCAUHOI], [TRINHDO], [NOIDUNG], [DAP_AN], [MAMH], [MALOAICH], [MAGV]) VALUES (1, N'A', N'The publishers suggested that the envelopes be sent to ...... by courier so that the film can be developed as soon as possible.', N'D', N'TA             ', N'NLC            ', N'GV01           ')
INSERT [dbo].[BODE] ([IDCAUHOI], [TRINHDO], [NOIDUNG], [DAP_AN], [MAMH], [MALOAICH], [MAGV]) VALUES (2, N'A', N'Board members ..... carefully define their goals and objectives for the agency before the monthly meeting next week.', N'B', N'TA             ', N'NLC            ', N'GV01           ')
INSERT [dbo].[BODE] ([IDCAUHOI], [TRINHDO], [NOIDUNG], [DAP_AN], [MAMH], [MALOAICH], [MAGV]) VALUES (3, N'A', N'For business relations to continue between our two firms, satisfactory agreement must be ...... reached and signer', N'C', N'TA             ', N'NLC            ', N'GV01           ')
SET IDENTITY_INSERT [dbo].[BODE] OFF
INSERT [dbo].[CTBT] ([IDDK], [IDCAUHOI], [STT], [LUACHONSV]) VALUES (1, 1141, 4, N'C')
INSERT [dbo].[CTBT] ([IDDK], [IDCAUHOI], [STT], [LUACHONSV]) VALUES (1, 1142, 3, N'D')
INSERT [dbo].[CTBT] ([IDDK], [IDCAUHOI], [STT], [LUACHONSV]) VALUES (1, 1146, 2, N'B')
SET IDENTITY_INSERT [dbo].[DANGKY] ON 

INSERT [dbo].[DANGKY] ([IDDK], [IDLMH], [MASV], [DIEM]) VALUES (1, 4, N'SV001          ', 7.5)
INSERT [dbo].[DANGKY] ([IDDK], [IDLMH], [MASV], [DIEM]) VALUES (2, 1, N'SV001          ', 2.27)
INSERT [dbo].[DANGKY] ([IDDK], [IDLMH], [MASV], [DIEM]) VALUES (3, 3, N'SV001          ', 10)
SET IDENTITY_INSERT [dbo].[DANGKY] OFF
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [SDT], [EMAIL], [MAKH]) VALUES (N'GV01           ', N'Nguyễn', N'A', N'TPHCM', N'09123456789 ', N'nguyena@gmail.com                                 ', N'CNTT           ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [SDT], [EMAIL], [MAKH]) VALUES (N'GV02           ', N'Trần', N'B', N'TPHCM.', N'09987654321 ', N'tranb@gmail.com                                   ', N'DT             ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [SDT], [EMAIL], [MAKH]) VALUES (N'GV03           ', N'Nguyễn Văn', N'Anh', N'TP Hà Nội   ', N'09888888883 ', N'nguyenanhanoi@gmail.com                           ', N'VT             ')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'CNTT           ', N'Công nghệ thông tin')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'DT             ', N'Điện tử 1')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'KT             ', N'Kế toán')
INSERT [dbo].[LOAICAUHOI] ([MALOAICH], [TENLOAICH]) VALUES (N'DK             ', N'Điền khuyết')
INSERT [dbo].[LOAICAUHOI] ([MALOAICH], [TENLOAICH]) VALUES (N'NLC            ', N'Nhiều lựa chọn')
SET IDENTITY_INSERT [dbo].[LOPMONHOC] ON 

INSERT [dbo].[LOPMONHOC] ([IDLMH], [NIENKHOA], [HOCKY], [NHOM], [SOSVTT], [MAKH], [MAMH], [MAGV], [MAGVDK], [TRINHDODK], [NGAYTHI], [SCT], [THOIGIANTHI], [TRANGTHAI]) VALUES (1, N'2020-2021', 1, 1, 10, N'CNTT           ', N'TA             ', N'GV02           ', N'GV02           ', N'A', CAST(N'2021-09-08T00:00:00.000' AS DateTime), 22, 11, 1)
INSERT [dbo].[LOPMONHOC] ([IDLMH], [NIENKHOA], [HOCKY], [NHOM], [SOSVTT], [MAKH], [MAMH], [MAGV], [MAGVDK], [TRINHDODK], [NGAYTHI], [SCT], [THOIGIANTHI], [TRANGTHAI]) VALUES (3, N'2020-2021', 1, 1, 15, N'CNTT           ', N'T1             ', N'GV01           ', N'GV02           ', N'A', CAST(N'2021-09-08T00:00:00.000' AS DateTime), 3, 11, 1)
INSERT [dbo].[LOPMONHOC] ([IDLMH], [NIENKHOA], [HOCKY], [NHOM], [SOSVTT], [MAKH], [MAMH], [MAGV], [MAGVDK], [TRINHDODK], [NGAYTHI], [SCT], [THOIGIANTHI], [TRANGTHAI]) VALUES (4, N'2020-2021', 1, 1, 25, N'KT             ', N'NLKT           ', N'GV03           ', N'GV02           ', N'A', CAST(N'2021-09-08T00:00:00.000' AS DateTime), 4, 11, 1)
SET IDENTITY_INSERT [dbo].[LOPMONHOC] OFF
SET IDENTITY_INSERT [dbo].[LUACHON] ON 

INSERT [dbo].[LUACHON] ([IDLUACHON], [STT], [NOIDUNG], [IDCAUHOI]) VALUES (1, N'A', N'they', 1)
INSERT [dbo].[LUACHON] ([IDLUACHON], [STT], [NOIDUNG], [IDCAUHOI]) VALUES (2, N'B', N'their', 1)
INSERT [dbo].[LUACHON] ([IDLUACHON], [STT], [NOIDUNG], [IDCAUHOI]) VALUES (3, N'C', N'theirs', 1)
GO
SET IDENTITY_INSERT [dbo].[LUACHON] OFF
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'NLKT           ', N'Nguyên lý kế toán')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'TA             ', N'Tiếng Anh')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'T1             ', N'Toán 1')
INSERT [dbo].[NHOMQUYEN] ([MANQ], [TENQUYEN]) VALUES (N'admin          ', N'admin')
INSERT [dbo].[NHOMQUYEN] ([MANQ], [TENQUYEN]) VALUES (N'GV             ', N'Giáo viên')
INSERT [dbo].[NHOMQUYEN] ([MANQ], [TENQUYEN]) VALUES (N'PGV            ', N'Phòng giáo vụ')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'SV001          ', N'Nguyễn Văn', N'Một', CAST(N'1999-01-02T00:00:00.000' AS DateTime), N'TPHCM', N'sv001@gmail.com                                   ')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'SV002          ', N'Trần Văn', N'Hai', CAST(N'1999-12-05T00:00:00.000' AS DateTime), N'TPHCM', N'sv002@gmail.com                                   ')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'SV004          ', N'Trần', N'Minh', CAST(N'2003-12-09T00:00:00.000' AS DateTime), N'HANOI', N'sv003@gmail.com                                   ')
INSERT [dbo].[TAIKHOAN] ([EMAIL], [PASSWORD], [MANQ], [REFRESH_TOKEN]) VALUES (N'admin@gmail.com                                   ', N'123', N'admin          ', NULL)
INSERT [dbo].[TAIKHOAN] ([EMAIL], [PASSWORD], [MANQ], [REFRESH_TOKEN]) VALUES (N'lenam@gmail.com                                   ', N'123', N'GV             ', NULL)
INSERT [dbo].[TAIKHOAN] ([EMAIL], [PASSWORD], [MANQ], [REFRESH_TOKEN]) VALUES (N'nguyena@gmail.com                                 ', N'123', N'PGV            ', NULL)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DANGKY]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[IDLMH] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SDT]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[GIAOVIEN] ADD  CONSTRAINT [UK_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_KHOA]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [UK_KHOA] UNIQUE NONCLUSTERED 
(
	[TENKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOAICAUHOI]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[LOAICAUHOI] ADD  CONSTRAINT [UK_LOAICAUHOI] UNIQUE NONCLUSTERED 
(
	[TENLOAICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[LOPMONHOC] ADD  CONSTRAINT [UK_LOPMONHOC] UNIQUE NONCLUSTERED 
(
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC,
	[NIENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LUACHON]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[LUACHON] ADD  CONSTRAINT [IX_LUACHON] UNIQUE NONCLUSTERED 
(
	[IDCAUHOI] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_MONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [UK_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHOMQUYEN]    Script Date: 19/10/2021 8:27:54 PM ******/
ALTER TABLE [dbo].[NHOMQUYEN] ADD  CONSTRAINT [UK_NHOMQUYEN] UNIQUE NONCLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [DF_DANGKY_DIEM]  DEFAULT ((0)) FOR [DIEM]
GO
ALTER TABLE [dbo].[BODE]  WITH CHECK ADD  CONSTRAINT [FK_BODE_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_GIAOVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH CHECK ADD  CONSTRAINT [FK_BODE_LOAICAUHOI] FOREIGN KEY([MALOAICH])
REFERENCES [dbo].[LOAICAUHOI] ([MALOAICH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_LOAICAUHOI]
GO
ALTER TABLE [dbo].[BODE]  WITH CHECK ADD  CONSTRAINT [FK_BODE_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[CTBT]  WITH CHECK ADD  CONSTRAINT [FK_CTBT_BODE] FOREIGN KEY([IDCAUHOI])
REFERENCES [dbo].[BODE] ([IDCAUHOI])
GO
ALTER TABLE [dbo].[CTBT] CHECK CONSTRAINT [FK_CTBT_BODE]
GO
ALTER TABLE [dbo].[CTBT]  WITH CHECK ADD  CONSTRAINT [FK_CTBT_DANGKY] FOREIGN KEY([IDDK])
REFERENCES [dbo].[DANGKY] ([IDDK])
GO
ALTER TABLE [dbo].[CTBT] CHECK CONSTRAINT [FK_CTBT_DANGKY]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPMONHOC] FOREIGN KEY([IDLMH])
REFERENCES [dbo].[LOPMONHOC] ([IDLMH])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPMONHOC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_TAIKHOAN] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TAIKHOAN] ([EMAIL])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPMONHOC_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [FK_LOPMONHOC_GIAOVIEN]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPMONHOC_GIAOVIEN1] FOREIGN KEY([MAGVDK])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [FK_LOPMONHOC_GIAOVIEN1]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPMONHOC_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [FK_LOPMONHOC_KHOA]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPMONHOC_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [FK_LOPMONHOC_MONHOC]
GO
ALTER TABLE [dbo].[LUACHON]  WITH CHECK ADD  CONSTRAINT [FK_LUACHON_BODE] FOREIGN KEY([IDCAUHOI])
REFERENCES [dbo].[BODE] ([IDCAUHOI])
GO
ALTER TABLE [dbo].[LUACHON] CHECK CONSTRAINT [FK_LUACHON_BODE]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_TAIKHOAN] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TAIKHOAN] ([EMAIL])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHOMQUYEN] FOREIGN KEY([MANQ])
REFERENCES [dbo].[NHOMQUYEN] ([MANQ])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHOMQUYEN]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK  (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_TRINHDO]
GO
ALTER TABLE [dbo].[CTBT]  WITH NOCHECK ADD  CONSTRAINT [CK_CTBT_STT] CHECK  (([STT]>=(1)))
GO
ALTER TABLE [dbo].[CTBT] CHECK CONSTRAINT [CK_CTBT_STT]
GO
ALTER TABLE [dbo].[DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH NOCHECK ADD  CONSTRAINT [CK_LOPMONHOC_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(2)))
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [CK_LOPMONHOC_HOCKY]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH NOCHECK ADD  CONSTRAINT [CK_LOPMONHOC_NHOM] CHECK  (([NHOM]>=(1)))
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [CK_LOPMONHOC_NHOM]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH NOCHECK ADD  CONSTRAINT [CK_LOPMONHOC_SCT] CHECK  (([SCT]>=(1)))
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [CK_LOPMONHOC_SCT]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH NOCHECK ADD  CONSTRAINT [CK_LOPMONHOC_SOSVTT] CHECK  (([SOSVTT]>=(1)))
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [CK_LOPMONHOC_SOSVTT]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH NOCHECK ADD  CONSTRAINT [CK_LOPMONHOC_THOIGIANTHI] CHECK  (([THOIGIANTHI]>=(1)))
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [CK_LOPMONHOC_THOIGIANTHI]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [CK_LOPMONHOC_TRANGTHAI] CHECK  (([TRANGTHAI]>=(0) AND [TRANGTHAI]<=(1)))
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [CK_LOPMONHOC_TRANGTHAI]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH NOCHECK ADD  CONSTRAINT [CK_LOPMONHOC_TRINHDODK] CHECK  (([TRINHDODK]='A' OR [TRINHDODK]='B' OR [TRINHDODK]='C' OR [TRINHDODK]='#'))
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [CK_LOPMONHOC_TRINHDODK]
GO
/****** Object:  StoredProcedure [dbo].[CursorBoDeExcel]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorBoDeExcel] @OutCrsr CURSOR varying OUTPUT, @caccauhoi CauHoiType readonly
	
AS
    SET @OutCrsr = CURSOR KEYSET FOR
    SELECT IDX, TRINHDO, NOIDUNG, DAP_AN, MALOAICH
	from(select IDX, TRINHDO, NOIDUNG, DAP_AN, MALOAICH,
		ROW_NUMBER() over (PARTITION by NOIDUNG,TRINHDO,DAP_AN,MALOAICH order by idx) as rn
		from @caccauhoi
	)a
	where rn=1
	order by idx
  OPEN @OutCrsr
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCEL_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CANCEL_LOPMONHOC] 
	@idlmh int
	
AS

	if exists(select 1 from LOPMONHOC 
	where IDLMH=@idlmh and IDLMH in (select IDLMH from DANGKY,CTBT where DANGKY.IDDK=CTBT.IDDK))
	begin
		RAISERROR('dacosvthi', 16, 1)
		return 1
	end

	update LOPMONHOC 
	set TRANGTHAI=0
	where IDLMH=@idlmh
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_BODE] @idch int
as

if exists(select 1 from CTBT where IDCAUHOI=@idch)
begin
	RAISERROR('FK_CTBT_BODE', 16, 1)
	return 1
end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGKY_HUY]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHECK_DANGKY_HUY] @idlmh int
as

if exists(select 1 from LOPMONHOC 
	where IDLMH=@idlmh and IDLMH in (select IDLMH from DANGKY,CTBT where DANGKY.IDDK=CTBT.IDDK))
	begin
		RAISERROR('dacosvthi', 16, 1)
		return 1
	end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGKY_LOPMH_SV]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_DANGKY_LOPMH_SV] 
	@nienkhoa nvarchar(10),
	@mamh nchar(15), 
	@hocky smallint,
	@nhom smallint,
	@masv nchar(15)
	
AS
	declare @ID int,
			@ID_DK int
	
	if exists(select 1 from LOPMONHOC where HOCKY=@hocky and NHOM=@nhom and NIENKHOA=@nienkhoa and MAMH=@mamh and TRANGTHAI=1)
	begin
		select @ID=IDLMH from LOPMONHOC where HOCKY=@hocky and NHOM=@nhom and NIENKHOA=@nienkhoa and MAMH=@mamh
		if exists(select 1 from LOPMONHOC where IDLMH=@ID and TRINHDODK='#')
		begin
			raiserror ('chuadkthi',16,1)
			return 5;
		end
		else if exists(select 1 from DANGKY where IDLMH=@ID and MASV=@masv)
		begin
			select @ID_DK=IDDK from DANGKY where IDLMH=@ID and MASV=@masv
			if exists(select 1 from CTBT where IDDK=@ID_DK)
			begin
				raiserror ('dathi',16,1)
				return 2;
			end
			else if exists(select 1 from LOPMONHOC where IDLMH=@ID and CAST(NGAYTHI as date)<>CAST(sysdatetime() as date))
			begin
				raiserror ('kodungngaythi',16,1)
				return 3;
			end
			else
			begin
				select @ID as IDLMH
			end
		end
		else
		begin
			raiserror ('chuadklopmh',16,1)
			return 4;
		end
		
	end
	else
	begin
		raiserror ('kotontai',16,1)
		return 1;
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGKY_TRUOC_SUA]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_DANGKY_TRUOC_SUA] @idlmh int
as

--check dang ky da duoc sinh vien thi
if exists(select 1 from DANGKY where IDLMH=@idlmh and IDDK in (select IDDK from CTBT))
	begin
		RAISERROR('svdathi', 16, 1)
		return 1
	end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_GIAOVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_GIAOVIEN] @magv nchar(15)
as

if exists(select 1 from BODE where MAGV=@magv)
begin
	RAISERROR('FK_BODE_GIAOVIEN', 16, 1)
	return 1
end
else if exists(select 1 from LOPMONHOC where MAGV=@magv)
begin
	RAISERROR('FK_LOPMONHOC_GIAOVIEN', 16, 1)
	return 1
end
else if exists(select 1 from LOPMONHOC where MAGVDK=@magv)
begin
	RAISERROR('FK_LOPMONHOC_GIAOVIEN1', 16, 1)
	return 1
end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_KHOA]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHECK_KHOA] @makh nchar(15)
as

if exists(select 1 from GIAOVIEN where MAKH=@makh)
begin
	RAISERROR('FK_GIAOVIEN_KHOA', 16, 1)
	return 1
end
else if exists(select 1 from LOPMONHOC where MAKH=@makh)
begin
	RAISERROR('FK_LOPMONHOC_KHOA', 16, 1)
	return 1
end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_LOPMONHOC] @idlmh int
as

if exists(select 1 from DANGKY where IDLMH=@idlmh)
begin
	RAISERROR('FK_DANGKY_LOPMONHOC', 16, 1)
	return 1
end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LOPMONHOC_TRUOC_SUA]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_LOPMONHOC_TRUOC_SUA] @idlmh int
as

if exists(select 1 from LOPMONHOC where IDLMH=@idlmh and TRINHDODK<>'#')
	begin
		RAISERROR('daduocdkthi', 16, 1)
		return 1
	end
	else if exists(select 1 from DANGKY where IDLMH=@idlmh)
	begin
		RAISERROR('svdadklopmonhoc', 16, 1)
		return 2
	end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_MONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_MONHOC] @mamh nchar(15)
as

if exists(select 1 from LOPMONHOC where MAMH=@mamh)
begin
	RAISERROR('FK_LOPMONHOC_MONHOC', 16, 1)
	return 1
end
else if exists(select 1 from BODE where MAMH=@mamh)
begin
	RAISERROR('FK_BODE_MONHOC', 16, 1)
	return 1
end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_SINHVIEN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHECK_SINHVIEN] @masv nchar(15)
as

if exists(select 1 from DANGKY where MASV=@masv)
begin
	RAISERROR('FK_DANGKY_SINHVIEN', 16, 1)
	return 1
end
else
begin
	select 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY_LOPMH_SV]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DANGKY_LOPMH_SV] 
	@nienkhoa nvarchar(10),
	@mamh nchar(15), 
	@hocky smallint,
	@nhom smallint,
	@masv nchar(15)
	
AS
	declare @ID int
	
	if exists(select 1 from LOPMONHOC where HOCKY=@hocky and NHOM=@nhom and NIENKHOA=@nienkhoa and MAMH=@mamh and TRANGTHAI=1)
	begin
		select @ID=IDLMH from LOPMONHOC where HOCKY=@hocky and NHOM=@nhom and NIENKHOA=@nienkhoa and MAMH=@mamh
		if exists(select 1 from LOPMONHOC 
		where LOPMONHOC.IDLMH=@ID and CAST(NGAYTHI as date)<CAST(sysdatetime() as date))
		begin
			raiserror ('dathi',16,1)
			return 2;
		end
		else
		begin
			insert into DANGKY(IDLMH,MASV,DIEM) values (@ID,@masv,0)
		end
	end
	else
	begin
		raiserror ('kotontai',16,1)
		return 1;
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_DB_BACKUP]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DB_BACKUP]
	@diengiai nvarchar(128),
	@ghide smallInt
as

	if(@ghide=1)
	begin
		BACKUP DATABASE  TN_TTTN  TO DEV_TN_TTTN WITH INIT, NAME = @diengiai;
	end
	else
	begin
		BACKUP DATABASE  TN_TTTN  TO DEV_TN_TTTN WITH NAME = @diengiai;
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_DB_DS_BACKUP]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DB_DS_BACKUP]
as
SELECT     position, name, CONVERT(VARCHAR(10),backup_start_date,103)+' '+CONVERT(VARCHAR(10), backup_start_date, 108) backup_start_date , user_nameFROM  msdb.dbo.backupset    WHERE     database_name ='TN_TTTN' AND type='D' AND      backup_set_id >=      		( SELECT MAX(backup_set_id) FROM 	msdb.dbo.backupset          		WHERE media_set_id = 				( SELECT  MAX(media_set_id) 				     FROM msdb.dbo.backupset                             WHERE database_name = 'TN_TTTN' AND type='D')                   AND position=1  AND type='D'           )     ORDER BY position DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU_GV]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DOIMATKHAU_GV] 
	@email nchar(50),
	@password nvarchar(50),
	@password_new nvarchar(50)
as
	if exists(select 1 from TAIKHOAN where EMAIL=@email and PASSWORD=@password and MANQ='PGV' or MANQ='GV')
	begin
		update TAIKHOAN set PASSWORD=@password_new where EMAIL=@email
	end
	else
	begin
		RAISERROR('mkcusai', 16, 1)
		return 1
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU_SV]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DOIMATKHAU_SV] 
	@email nchar(50),
	@password nvarchar(50),
	@password_new nvarchar(50)
as
	if exists(select 1 from TAIKHOAN where EMAIL=@email and PASSWORD=@password and MANQ='SV')
	begin
		update TAIKHOAN set PASSWORD=@password_new where EMAIL=@email
	end
	else
	begin
		RAISERROR('mkcusai', 16, 1)
		return 1
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_CAUHOITHI]
	@td nchar(1), 
	@mamh nchar(15), 
	@sct int

as
		select TOP(@sct) IDCAUHOI, NOIDUNG, DAP_AN, MALOAICH
		from BODE where TRINHDO=@td and MAMH=@mamh order by NEWID()
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI_LICHSU]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_CAUHOITHI_LICHSU]
	@idlmh int,
	@masv nchar(15)
	

as
	declare @iddk int
	select @iddk=IDDK from DANGKY where IDLMH=@idlmh and MASV=@masv
	select CTBT.IDCAUHOI, STT, LUACHONSV, NOIDUNG, DAP_AN, MALOAICH 
	from CTBT,BODE
	where CTBT.IDCAUHOI=BODE.IDCAUHOI and IDDK=@iddk
	order by STT
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI_LICHSU2]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_CAUHOITHI_LICHSU2]
	@idlmh int,
	@masv nchar(15)
	

as
	declare @iddk int
	select @iddk=IDDK from DANGKY where IDLMH=@idlmh and MASV=@masv
	select CTBT.IDCAUHOI, CTBT.STT, LUACHONSV, BODE.NOIDUNG, DAP_AN, MALOAICH, LUACHON.STT, LUACHON.NOIDUNG
	from CTBT
	left join BODE on CTBT.IDCAUHOI=BODE.IDCAUHOI
	left join LUACHON on LUACHON.IDCAUHOI=BODE.IDCAUHOI
	where IDDK=@iddk 
	order by CTBT.STT
	for json auto
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAUHOITHI2]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_CAUHOITHI2]
	@td nchar(1), 
	@mamh nchar(15), 
	@sct int

as

declare @tmp table(
	id int
)
		insert into @tmp(id)
		select TOP(@sct) IDCAUHOI
		from BODE where TRINHDO=@td and MAMH=@mamh order by NEWID()

		select BODE.IDCAUHOI, BODE.NOIDUNG, DAP_AN, MALOAICH, STT, LUACHON.NOIDUNG
		from @tmp as v
		left join BODE on BODE.IDCAUHOI=v.id
		left join LUACHON on BODE.IDCAUHOI=LUACHON.IDCAUHOI
		for json auto

		
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LICHSUTHI]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_LICHSUTHI]
	@masv nchar(15)

as

	select LOPMONHOC.IDLMH, NIENKHOA, HOCKY, NHOM, NGAYTHI, DIEM, TENMH  
	from LOPMONHOC, DANGKY, MONHOC where LOPMONHOC.IDLMH=DANGKY.IDLMH and LOPMONHOC.MAMH=MONHOC.MAMH
		and MASV=@masv and IDDK in (select distinct IDDK from CTBT) order by NGAYTHI desc

		
GO
/****** Object:  StoredProcedure [dbo].[SP_GHI_DIEM_CTBT]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GHI_DIEM_CTBT]
	@ctbt CTBTType readonly,
	@masv nchar(15),
	@id int,
	@diem float
as
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	declare @ID_DK int
	select @ID_DK=IDDK from DANGKY where IDLMH=@id and MASV=@masv

	update DANGKY set DIEM=@diem where IDDK=@ID_DK

	insert into CTBT(IDDK,IDCAUHOI,STT,LUACHONSV)
	select @ID_DK, IDCAUHOI, STT, LUACHONSV from @ctbt


	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_DANGKY]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_HUY_DANGKY] 
	@id int
	
AS
	if exists(select 1 from LOPMONHOC 
	where IDLMH=@id and IDLMH in (select IDLMH from DANGKY,CTBT where DANGKY.IDDK=CTBT.IDDK))
	begin
		RAISERROR('dacosvthi', 16, 1)
		return 1
	end

	--huy dang ky
	update LOPMONHOC set MAGVDK=NULL, TRINHDODK='#', NGAYTHI=NULL, SCT=NULL, THOIGIANTHI=NULL where IDLMH=@id
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_LOGIN]
	@email nchar(50),
	@password nvarchar(50)
as
	declare @manq nchar(15)

	if exists(select 1 from TAIKHOAN where EMAIL=@email and PASSWORD=@password COLLATE Latin1_General_CS_AS )
	begin
		select @manq= MANQ from TAIKHOAN where EMAIL=@email and PASSWORD=@password
		if(@manq='SV')
		begin
			select MASV, EMAIL, @manq as MANQ from SINHVIEN where EMAIL=@email
		end
		else if(@manq='admin')
		begin
			select EMAIL, @manq as MANQ from TAIKHOAN where EMAIL=@email
		end
		else 
		begin
			select MAGV, EMAIL, @manq as MANQ from GIAOVIEN where EMAIL=@email
		end
	end
	else
	begin
		RAISERROR('Lỗi', 16, 1)
		return 1
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEM]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_REPORT_BANGDIEM] @idlmh int
as

select SINHVIEN.MASV, HO, TEN, CONVERT(VARCHAR(10),NGAYSINH,103) as NGAYSINH, DIACHI, EMAIL, DIEM, dbo.Num2Text(DIEM) AS DIEMCHU
from DANGKY, SINHVIEN where IDLMH=@idlmh and DANGKY.MASV=SINHVIEN.MASV

select NIENKHOA, HOCKY, NHOM, LOPMONHOC.MAMH, TENMH, CONVERT(VARCHAR(10),NGAYTHI,103) as NGAYTHI, THOIGIANTHI, TENKH, TRINHDODK, HO+' '+TEN as HOTENGV
from LOPMONHOC
join MONHOC on LOPMONHOC.MAMH=MONHOC.MAMH
join KHOA on LOPMONHOC.MAKH=KHOA.MAKH
join GIAOVIEN on LOPMONHOC.MAGV=GIAOVIEN.MAGV
where IDLMH=@idlmh
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSKYTEN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_REPORT_DSKYTEN] @idlmh int
as

select SINHVIEN.MASV, HO, TEN, CONVERT(VARCHAR(10),NGAYSINH,103) as NGAYSINH, DIACHI, EMAIL
from DANGKY, SINHVIEN where IDLMH=@idlmh and DANGKY.MASV=SINHVIEN.MASV

select NIENKHOA, HOCKY, NHOM, LOPMONHOC.MAMH, TENMH, CONVERT(VARCHAR(10),NGAYTHI,103) as NGAYTHI, THOIGIANTHI, TENKH, TRINHDODK, HO+' '+TEN as HOTENGV
from LOPMONHOC
join MONHOC on LOPMONHOC.MAMH=MONHOC.MAMH
join KHOA on LOPMONHOC.MAKH=KHOA.MAKH
join GIAOVIEN on LOPMONHOC.MAGV=GIAOVIEN.MAGV
where IDLMH=@idlmh
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_SUA_BODE] 
	@td nchar(1), 
	@noidung nvarchar(MAX), 
	@dap_an nvarchar(30), 
	@mamh nchar(15), 
	@idch int,
	@cacluachonJson nvarchar(1000)
	
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	declare @malch nchar(15)
	select @malch=MALOAICH from BODE where IDCAUHOI=@idch

	update BODE set TRINHDO=@td, NOIDUNG=@noidung, DAP_AN=@dap_an, MAMH=@mamh where IDCAUHOI=@idch 

	IF @malch='NLC'
	BEGIN
		delete from LUACHON where IDCAUHOI=@idch

		insert into LUACHON(STT, NOIDUNG, IDCAUHOI)
		select STT, NOIDUNG, @idch
		from OPENJSON(@cacluachonJson) with (STT nchar(1) 'strict $.STT', NOIDUNG nvarchar(200) '$.NOIDUNG')
	END
	
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_DANGKY_CHECK_SCT]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUA_DANGKY_CHECK_SCT] 
	@td nchar(1), 
	@ngaythi datetime,
	@sct int,
	@tg int,
	@id int
	
AS
	--check dang ky da duoc sinh vien thi
	if exists(select 1 from DANGKY where IDLMH=@id and IDDK in (select IDDK from CTBT))
	begin
		RAISERROR('svdathi', 16, 1)
		return 1
	end

	declare @mamh nchar(15),
			@ngaythi_cu datetime

	select @mamh=MAMH, @ngaythi_cu=NGAYTHI from LOPMONHOC where IDLMH=@id
	--kiểm tra số câu thi cùng trình độ
	declare @tong_sct int
	select @tong_sct=COUNT(*) from BODE where BODE.MAMH=@mamh and BODE.TRINHDO=@td

	if(@tong_sct<@sct)
	begin
		DECLARE @ErrorMessage NVARCHAR(2000)
		SELECT @ErrorMessage = N'Không đủ số câu thi cùng trình độ! sctkd ' + CAST(@tong_sct as varchar(10))
		RAISERROR(@ErrorMessage, 16, 1)
		return 2
	end
	else
	begin
		if(CAST(@ngaythi as date)=CAST(@ngaythi_cu as date))
		begin
			update LOPMONHOC set SCT=@sct, THOIGIANTHI=@tg, TRINHDODK=@td 
					where IDLMH=@id	
		end
		else
		begin
			if(CAST(@ngaythi as date)<CAST(sysdatetime() as date))
			begin
				RAISERROR('ngaythiquakhu', 16, 1)
				return 3
			end
			else
			begin
				update LOPMONHOC set SCT=@sct, THOIGIANTHI=@tg, TRINHDODK=@td, NGAYTHI=@ngaythi
					where IDLMH=@id	and TRANGTHAI=1
			end
		end
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_LOPMONHOC]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUA_LOPMONHOC] 
	@nienkhoa nvarchar(10),
	@mamh nchar(15), 
	@makh nchar(15), 
	@magv nchar(15), 
	@hocky smallint,
	@nhom smallint,
	@sosvtt int,
	@id int
	
AS

	if exists(select 1 from LOPMONHOC where IDLMH=@id and TRINHDODK<>'#')
	begin
		RAISERROR('daduocdkthi', 16, 1)
		return 1
	end
	else if exists(select 1 from DANGKY where IDLMH=@id)
	begin
		RAISERROR('svdadklopmonhoc', 16, 1)
		return 2
	end

	update LOPMONHOC 
	set NIENKHOA=@nienkhoa, HOCKY=@hocky, NHOM=@nhom, SOSVTT=@sosvtt, MAKH=@makh, MAMH=@mamh, MAGV=@magv 
	where IDLMH=@id
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_BODE] 
	@td nchar(1), 
	@noidung nvarchar(MAX), 
	@dap_an nvarchar(30), 
	@mamh nchar(15), 
	@malch nchar(15),
	@magv nchar(15), 
	@a nvarchar(200), 
	@b nvarchar(200), 
	@c nvarchar(200), 
	@d nvarchar(200)
	
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY

	insert into BODE(TRINHDO, NOIDUNG, DAP_AN, MAMH, MALOAICH, MAGV) 
		values (@td, @noidung, @dap_an, @mamh, @malch, @magv)

	IF @malch='NLC' and @a<>'' and @b<>'' --them cac lua chon vao table LUACHON
	BEGIN
		insert into LUACHON(STT, NOIDUNG, IDCAUHOI) 
		values ('A', @a, IDENT_CURRENT('BODE'))
		insert into LUACHON(STT, NOIDUNG, IDCAUHOI) 
		values ('B', @b, IDENT_CURRENT('BODE'))
		IF @c<>''
		BEGIN
			insert into LUACHON(STT, NOIDUNG, IDCAUHOI) 
			values ('C', @c, IDENT_CURRENT('BODE'))
		END
		IF @d<>''
		BEGIN
			insert into LUACHON(STT, NOIDUNG, IDCAUHOI) 
			values ('D', @d, IDENT_CURRENT('BODE'))
		END
	END
	
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE_EXCEL]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_BODE_EXCEL] 
		@caccauhoi CauHoiType readonly,
		@cacluachon LuaChonType readonly,
		@mamh nchar(15),
		@magv nchar(15)
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
  DECLARE @CrsrVar CURSOR,
          @idx int,
          @td nchar(1),
		  @noidung nvarchar(max),
		  @dap_an nvarchar(30),
		  @malch nchar(15)

  EXEC CursorBoDeExcel @CrsrVar OUTPUT, @caccauhoi

  FETCH NEXT FROM @CrsrVar INTO @idx, @td, @noidung, @dap_an, @malch

  WHILE (@@FETCH_STATUS <> -1)
  BEGIN
    if not exists(select 1 from BODE where NOIDUNG=@noidung)
	begin
		insert into BODE(TRINHDO, NOIDUNG, DAP_AN, MAMH, MALOAICH, MAGV)
		values (@td, @noidung, @dap_an, @mamh, @malch, @magv)

		if(@malch='NLC')
		begin
			insert into LUACHON(STT, NOIDUNG, IDCAUHOI)
			select STT, NOIDUNG, IDENT_CURRENT('BODE') from @cacluachon where IDX = @idx
		end
	end
    
    FETCH NEXT FROM @CrsrVar INTO @idx, @td, @noidung, @dap_an, @malch
  END
THOAT:
  CLOSE @CrsrVar
  DEALLOCATE @CrsrVar

  COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE2]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_BODE2] 
	@td nchar(1), 
	@noidung nvarchar(MAX), 
	@dap_an nvarchar(30), 
	@mamh nchar(15), 
	@malch nchar(15),
	@magv nchar(15)
	--@cacluachon LuaChonType readonly
	
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY

	insert into BODE(TRINHDO, NOIDUNG, DAP_AN, MAMH, MALOAICH, MAGV) 
		values (@td, @noidung, @dap_an, @mamh, @malch, @magv)

	--IF @malch='NLC' --them cac lua chon vao table LUACHON
	--BEGIN
		--insert into LUACHON(STT, NOIDUNG, IDCAUHOI)
		--select STT, NOIDUNG, IDENT_CURRENT('BODE') from @cacluachon
	--END
	
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_BODE3]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_THEM_BODE3] 
	@td nchar(1), 
	@noidung nvarchar(MAX), 
	@dap_an nvarchar(30), 
	@mamh nchar(15), 
	@malch nchar(15),
	@magv nchar(15),
	@cacluachonJson nvarchar(1000)
	
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY

	insert into BODE(TRINHDO, NOIDUNG, DAP_AN, MAMH, MALOAICH, MAGV) 
		values (@td, @noidung, @dap_an, @mamh, @malch, @magv)

	IF @malch='NLC' --them cac lua chon vao table LUACHON
	BEGIN
		insert into LUACHON(STT, NOIDUNG, IDCAUHOI)
		select STT, NOIDUNG, IDENT_CURRENT('BODE') from OPENJSON(@cacluachonJson) with (STT nchar(1) 'strict $.STT', NOIDUNG nvarchar(200) '$.NOIDUNG')
	END
	
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_DANGKY_CHECK_SCT]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_DANGKY_CHECK_SCT] 
	@td nchar(1), 
	@nienkhoa nvarchar(10),
	@mamh nchar(15), 
	@magvdk nchar(15), 
	@ngaythi datetime,
	@hocky smallint,
	@nhom smallint,
	@sct int,
	@tg int
	
AS
	
	--kiểm tra số câu thi cùng trình độ
	declare @tong_sct int
	select @tong_sct=COUNT(*) from BODE where BODE.MAMH=@mamh and BODE.TRINHDO=@td
	if(@tong_sct<@sct)
	begin
		DECLARE @ErrorMessage NVARCHAR(2000)
		SELECT @ErrorMessage = N'Không đủ số câu thi cùng trình độ! sctkd ' + CAST(@tong_sct as varchar(10))
		RAISERROR(@ErrorMessage, 16, 1)
	end
	else
	begin
		update LOPMONHOC set MAGVDK=@magvdk, NGAYTHI=@ngaythi, SCT=@sct, THOIGIANTHI=@tg, TRINHDODK=@td 
			where NIENKHOA=@nienkhoa and HOCKY=@hocky and NHOM=@nhom and MAMH=@mamh and TRINHDODK='#' and TRANGTHAI=1
	end
	
	
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_EXCEL]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_EXCEL] 
		@caccauhoi CauHoiType readonly,
		@cacluachon LuaChonType readonly,
		@tenmh nvarchar(50),
		@email nchar(50)
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
  DECLARE @CrsrVar CURSOR,
          @idx int,
          @td nchar(1),
		  @noidung nvarchar(max),
		  @dap_an nvarchar(30),
		  @mamh nchar(15),
		  @malch nchar(15),
		  @magv nchar(15)


  EXEC CursorBoDeExcel @CrsrVar OUTPUT, @caccauhoi

  if not exists(select 1 from MONHOC where TENMH=@tenmh)
  begin
	RAISERROR('mhktt', 16, 1)
	return 1
  end

  select @mamh=MAMH from MONHOC where TENMH=@tenmh
  select @magv=MAGV from GIAOVIEN where EMAIL=@email


  FETCH NEXT FROM @CrsrVar INTO @idx, @td, @noidung, @dap_an, @malch

  WHILE (@@FETCH_STATUS <> -1)
  BEGIN
    insert into BODE(TRINHDO, NOIDUNG, DAP_AN, MAMH, MALOAICH, MAGV)
	values (@td, @noidung, @dap_an, @mamh, @malch, @magv)

	if(@malch='NLC')
	begin
		insert into LUACHON(STT, NOIDUNG, IDCAUHOI)
		select STT, NOIDUNG, IDENT_CURRENT('BODE') from @cacluachon where IDX = @idx
	end
    
    FETCH NEXT FROM @CrsrVar INTO @idx, @td, @noidung, @dap_an, @malch
  END
THOAT:
  CLOSE @CrsrVar
  DEALLOCATE @CrsrVar

  COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMGV_TAIKHOANMD]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEMGV_TAIKHOANMD] 
	@magv nchar(15), 
	@ho nvarchar(50), 
	@ten nvarchar(15), 
	@diachi nvarchar(200), 
	@sdt nchar(12), 
	@email nchar(50), 
	@makh nchar(15),
	@manq nchar(15)
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	--Thêm tài khoản mặc định cho giáo viên
	insert into TAIKHOAN(EMAIL, PASSWORD, MANQ) values (@email, '123', @manq)

	insert into GIAOVIEN(MAGV, HO, TEN, DIACHI, SDT, EMAIL, MAKH) 
	values (@magv, @ho, @ten, @diachi, @sdt, @email, @makh)

	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMSV_TAIKHOANMD]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_THEMSV_TAIKHOANMD] 
	@masv nchar(15), 
	@ho nvarchar(50), 
	@ten nvarchar(15), 
	@ngaysinh datetime, 
	@diachi nvarchar(200), 
	@email nchar(50)
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	--Thêm tài khoản mặc định cho giáo viên
	insert into TAIKHOAN(EMAIL, PASSWORD, MANQ) values (@email, '123', 'SV')

	insert into SINHVIEN(MASV, HO, TEN, NGAYSINH, DIACHI, EMAIL) 
	values (@masv, @ho, @ten, @ngaysinh, @diachi, @email)

	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_BODE]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOA_BODE] 
	@idch int
	
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	declare @malch nchar(15)
	select @malch=MALOAICH from BODE where IDCAUHOI=@idch

	if exists(select 1 from CTBT where IDCAUHOI=@idch)
	begin
		RAISERROR('FK_CTBT_BODE', 16, 1)
		return 1
	end

	if(@malch='NLC')
	begin
		delete from LUACHON where IDCAUHOI=@idch
	end

	delete from BODE where IDCAUHOI=@idch

	
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAGV_TAIKHOAN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_XOAGV_TAIKHOAN] 
	@magv nchar(15)
	
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	if exists(select 1 from BODE where MAGV=@magv)
	begin
		RAISERROR('FK_BODE_GIAOVIEN', 16, 1)
		return 1
	end
	if exists(select 1 from LOPMONHOC where MAGV=@magv)
	begin
		RAISERROR('FK_LOPMONHOC_GIAOVIEN', 16, 1)
		return 2
	end
	if exists(select 1 from LOPMONHOC where MAGVDK=@magv)
	begin
		RAISERROR('FK_LOPMONHOC_GIAOVIEN1', 16, 1)
		return 3
	end
	declare @email nchar(50)
	select @email=EMAIL from GIAOVIEN where MAGV=@magv
	delete from GIAOVIEN where MAGV=@magv
	delete from TAIKHOAN where EMAIL=@email
	
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_XOASV_TAIKHOAN]    Script Date: 19/10/2021 8:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOASV_TAIKHOAN] 
	@masv nchar(15)
	
AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	if exists(select 1 from DANGKY where MASV=@masv)
	begin
		RAISERROR('FK_DANGKY_SINHVIEN', 16, 1)
		return 1
	end
	declare @email nchar(50)
	select @email=EMAIL from SINHVIEN where MASV=@masv
	delete from SINHVIEN where MASV=@masv
	delete from TAIKHOAN where EMAIL=@email
	
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH
GO
