// Here you can add other styles
/* The sticky class is added to the header with JS when it reaches its scroll position */
#sticky {
  position: sticky;
  top: 120px;
}

#check-tick{
  font-size: xx-large;
}

.dropdown-link{
  text-decoration: none;
  color: black;
}
